#root {
  margin: 0;
  max-width: 100%;
  padding: 0rem;
  text-align: center;
  width: 100%;
}

.logo {
  height: em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #141dcbaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #381769aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 0em;
}

.read-the-docs {
  color: #c85353;
}

*{
  margin: 0;
  background-color: rgb(189, 189, 13);
  font-size: 20px;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.tab{
  padding: 0em;
  transition: color 100ms ease;
  transform: translateY(50px);
  z-index: 1;
  color: rgb(7, 48, 255);
  position: relative;
  outline: 3px solid rgb(3, 24, 22);
  outline-offset: -px;
}
h1{
  transform: translateX(-20px);
  transform: translateY(20px);
}