.audio-input-container {
    position: relative;
    z-index: 100;
  }
  
  .floating-mic-container {
    position: fixed;
    bottom: 20px;
    right: auto;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .floating-mic-button {
    background-color: #2196f3;
    border: 2px solid black;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.4em; /* Icon size is 40% of the button size */
    color: white;
    cursor: pointer;
    transition: transform 0.2s, border-color 0.2s;
    box-sizing: content-box;
  }
  
  .floating-mic-button.recording {
    background-color: #ff0000; /* Red color when recording */
    border-color: solid black; /* Make the border red when recording */
  }
  
  .floating-mic-button:hover {
    transform: scale(1.1);
    border-color: blue; /* Change border color when hovering */
  }
  